<mt:SetVarBlock name="page_title">Customize Stylesheet</mt:SetVarBlock>
<mt:Var name="position_actions_bottom" value="1">

<mt:SetVarBlock name="system_msg">
    <mt:if name="saved">
        <mtapp:statusmsg
            id="saved"
            class="success">
            <__trans phrase="Your custom CSS changes have been saved.">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="message">
        <mtapp:statusmsg
            id="message"
            class="alert">
            <mt:var name="message">
        </mtapp:statusmsg>
    </mt:if>
</mt:SetVarBlock>

<mt:setvartemplate name="action_buttons">
  <button
     onclick="return validate(this.form);"
     type="submit"
     accesskey="s"
     tabindex="12"
     title="<__trans phrase="Save Changes (s)">"
     class="save action primary button">
    <__trans phrase="Save Changes"></button>
</mt:setvartemplate>

<mt:setvarblock name="html_head" append="1">
<script type="text/javascript" src="<mt:var name="static_uri">js/tc/client.js"></script>
<script type="text/javascript">
if ( !window.Editor )
    Editor = { strings: {} };
Editor.strings.unsavedChanges = '<__trans phrase="You have unsaved changes to this template that will be lost." escape="js">'; 

var fieldStorage = {};
var dirty = false;

function validate (f, rebuild) {
    app.clearDirty();
    var area = DOM.getElement('text');
    var str = area.value;
    if ( !defined( str ) ) str = '';
    str = str.replace(/[\0-\x08\x0B\x0C\x0E-\x1F\x7F]/g, "");
    area.value = str;
    str = editor.getValue();
    if ( !defined( str ) ) str = '';
    str = str.replace(/[\0-\x08\x0B\x0C\x0E-\x1F\x7F]/g, "");
    editor.setValue(str);
    return true;
}

</script>
</mt:setvarblock>

<mt:setvarblock name="html_body" append="1">
<mt:if name="dirty">
  <script type="text/javascript">
  /* <![CDATA[ */
    MT.App.dirty = true;
  /* ]]> */
  </script>
</mt:if>
</mt:setvarblock>

<mt:include name="include/header.tmpl">

<form name="template-listing-form" id="template-listing-form" method="post" action="<mt:var name="script_url">" mt:once="1">
  <input type="hidden" name="blog_id" value="<mt:var name="blog_id" escape="html" default="0">" />
  <input type="hidden" name="type" value="<mt:var name="type" escape="html">" />
  <input type="hidden" name="__mode" value="custom_css_save" />
  <input type="hidden" name="return_args" value="<mt:var name="return_args" escape="html">" />
  <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />

  <mtapp:setting
     id="template-body"
     label="Template Body"
     label_class="no-header">
    <div id="template-editor-toolbar" class="template editor-toolbar toolbar">
      <button type="button" id="syntaxon" class="command-highlight-on toolbar button active" title="<__trans phrase="Syntax highlighting On">"><span class="button-label"><__trans phrase="Syntax highlighting On"></span></button><button type="button" id="syntaxoff" class="command-highlight-off toolbar button" title="<__trans phrase="Syntax highlighting Off">"><span class="button-label"><__trans phrase="Syntax highlighting Off"></span></button>
    </div>
    <div id="textarea-enclosure" class="editor">
      <textarea name="text" id="text" class="monospace text full" tabindex="3" spellcheck="false" mt:watch-change="1" mt:editor="codemirror" mt:editor-options="lang:<mt:var name="template_lang"> autocomplete:off" /><mt:var name="text" escape="html"></textarea>
    </div>
  </mtapp:setting>

  <mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1">

</form>

<script type="text/javascript" src="<$mt:var name="static_uri"$>codemirror/lib/codemirror.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
<link rel="stylesheet" href="<$mt:var name="static_uri"$>codemirror/lib/codemirror.css">

<script type="text/javascript" src="<$mt:var name="static_uri"$>codemirror/mt/xml.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
<script type="text/javascript" src="<$mt:var name="static_uri"$>codemirror/mt/javascript.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
<script type="text/javascript" src="<$mt:var name="static_uri"$>codemirror/mt/css.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
<script type="text/javascript" src="<$mt:var name="static_uri"$>codemirror/mt/htmlmixed.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
<link rel="stylesheet" href="<$mt:var name="static_uri"$>codemirror/mt/mt.css">

<script type="text/javascript">
/* <![CDATA[ */
App.singletonConstructor = MT.App = new Class( MT.App, {} );

var options = jQuery('#text').attr('mt:editor-options');
var editor_params = {
    lineNumbers: true,
    lineWrapping: false,
    tabMode: "default",
    indentUnit: 0,
    pollForIME: true,
    mode: "text/html"
};
if (options.match('lang:css')) {
    editor_params['mode'] = 'text/javascript';
} else if (options.match('lang:javascript')) {
    editor_params['mode'] = 'text/css';
}

var editor = CodeMirror.fromTextArea(jQuery('#text').get(0), editor_params);

function syncEditor() {
    var wrapper = editor.getWrapperElement();
    if ( jQuery(wrapper).css('display') == 'none') {
        editor.setValue(jQuery('#text').val());
    } else {
        jQuery('#text').val(editor.getValue());
    }
}

/* ]]> */
</script>
<mt:setvarblock name="jq_js_include" append="1">
    jQuery('button.save').click(function() {
        syncEditor();
    });
    jQuery('#syntaxon, #syntaxoff').click(function() {
        syncEditor();
        var wrapper = editor.getWrapperElement();
        jQuery('#syntaxon, #syntaxoff').removeClass('active');
        var id = jQuery(this).addClass('active').attr('id');
        var syntax;
        if (id == 'syntaxon') {
            jQuery('#text').hide();
            jQuery(wrapper).show();
            syntax = 'on';
        } else {
            jQuery('#text').show();
            jQuery(wrapper).hide();
            syntax = 'off';
        }
        return false;
    });
    jQuery('#syntax<mt:var name="disp_prefs_syntax" default="on">').click();

</mt:setvarblock>
<mt:include name="include/footer.tmpl">
